@import '@/styles/variables.scss';

.historyItem {
  & &__link {
    width: 100%;
    text-decoration: none;
  }

  &__card {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;

    @media (any-hover: hover) {
      &:hover {
        background-color: $light-color;
      }
    }
  }

  & &__method {
    font-weight: 700;
  }
}
