.header {
  display: flex;
  justify-content: center;
  min-height: 60px;
  transition: 0.3s;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    width: 60px;
  }
}
