.header {
  display: flex;
  justify-content: center;
  min-height: 60px;
  transition: 0.3s;

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    height: 100%;
  }

  &__logo {
    margin-right: auto;
    width: 60px;
  }
}
