.restfull-client {
  max-width: 1200px;
  margin: 0 auto;
}

.restfull-client__url-container {
  justify-content: center;
  height: 100%;
}

.restfull-client__url {
  margin: 0 10px !important;
  // width: 100%;
}

.restfull-client__button {
  height: 56px;
}

.error {
  color: red;
}